<div class="container">
  <div class="thumbnail">
    <h1 class="text-center">Sign Up</h1>
    <hr>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quos voluptas vero quod, omnis magnam illo culpa possimus sint eos veniam doloremque commodi iusto, animi ab quidem praesentium perspiciatis ipsam!</p>
    <hr>
    <div class="inline-form">
      <form>
        <button class="btn btn-md btn-primary" type="">Sign In</button>
        <button class="btn btn-md btn-primary" type="">Sign Up</button>
      </form>
    </div>
  </div>
</div>