<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header dropdwon" dropdown>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" dorpdown-open>
              <span class="sr-only dropdown-menu">Toggle navigation</span>
              <span class="icon-bar">About</span>
              <span class="icon-bar">Contact</span>
              <span class="icon-bar">Sign Up</span>
              <span class="icon-bar">Sign In</span>
            </button>
            <a class="navbar-brand" [routerLink]="['**']">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a [routerLink] = "['about']">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Sign Up</a></li>
              <li><a [routerLink] = "['signIn']">Sign In</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <hr>

      <router-outlet></router-outlet>
      
      <footer class="footer">
        <p class="text-center">Made With  <i class="fa fa-heart" aria-hidden="true"></i>  By Mohanad Elhag</p>
      </footer>